typeattribute flags_health_check coredomain;

init_daemon_domain(flags_health_check)

set_prop(flags_health_check, device_config_boot_count_prop)
set_prop(flags_health_check, device_config_core_experiments_team_internal_prop)
set_prop(flags_health_check, device_config_edgetpu_native_prop)
set_prop(flags_health_check, device_config_reset_performed_prop)
set_prop(flags_health_check, device_config_runtime_native_boot_prop)
set_prop(flags_health_check, device_config_runtime_native_prop)
set_prop(flags_health_check, device_config_input_native_boot_prop)
set_prop(flags_health_check, device_config_lmkd_native_prop)
set_prop(flags_health_check, device_config_netd_native_prop)
set_prop(flags_health_check, device_config_nnapi_native_prop)
set_prop(flags_health_check, device_config_activity_manager_native_boot_prop)
set_prop(flags_health_check, device_config_media_native_prop)
set_prop(flags_health_check, device_config_mglru_native_prop)
set_prop(flags_health_check, device_config_profcollect_native_boot_prop)
set_prop(flags_health_check, device_config_statsd_native_prop)
set_prop(flags_health_check, device_config_statsd_native_boot_prop)
set_prop(flags_health_check, device_config_storage_native_boot_prop)
set_prop(flags_health_check, device_config_swcodec_native_prop)
set_prop(flags_health_check, device_config_sys_traced_prop)
set_prop(flags_health_check, device_config_window_manager_native_boot_prop)
set_prop(flags_health_check, device_config_configuration_prop)
set_prop(flags_health_check, device_config_connectivity_prop)
set_prop(flags_health_check, device_config_surface_flinger_native_boot_prop)
set_prop(flags_health_check, device_config_aconfig_flags_prop)
set_prop(flags_health_check, device_config_vendor_system_native_prop)
set_prop(flags_health_check, device_config_vendor_system_native_boot_prop)
set_prop(flags_health_check, device_config_virtualization_framework_native_prop)
set_prop(flags_health_check, device_config_memory_safety_native_boot_prop)
set_prop(flags_health_check, device_config_memory_safety_native_prop)
set_prop(flags_health_check, device_config_remote_key_provisioning_native_prop)
set_prop(flags_health_check, device_config_camera_native_prop)
set_prop(flags_health_check, device_config_tethering_u_or_later_native_prop)
set_prop(flags_health_check, next_boot_prop)

# system property device_config_boot_count_prop is used for deciding when to perform server
# configurable flags related disaster recovery. Mistakenly set up by unrelated components can, at a
# wrong timing, trigger server configurable flag related disaster recovery, which will override
# server configured values of all flags with default values.
neverallow { domain -init -flags_health_check } device_config_boot_count_prop:property_service set;

# system property device_config_reset_performed_prop is used for indicating whether server
# configurable flags have been reset during booting. Mistakenly modified by unrelated components can
# cause bad server configurable flags synced back to device.
neverallow { domain -init -flags_health_check } device_config_reset_performed_prop:property_service set;

allow flags_health_check adbd_prop:file r_file_perms;
allow flags_health_check apexd_payload_metadata_prop:file r_file_perms;
allow flags_health_check ctl_apex_load_prop:file r_file_perms;
allow flags_health_check ctl_mediatranscoding_prop:file r_file_perms;
allow flags_health_check ctl_odsign_prop:file r_file_perms;
allow flags_health_check ctl_snapuserd_prop:file r_file_perms;
allow flags_health_check crashrecovery_prop:file r_file_perms;
allow flags_health_check dmesgd_start_prop:file r_file_perms;
allow flags_health_check enable_16k_pages_prop:file r_file_perms;
allow flags_health_check fastbootd_protocol_prop:file r_file_perms;
allow flags_health_check game_manager_config_prop:file r_file_perms;
allow flags_health_check gsid_prop:file r_file_perms;
allow flags_health_check hidl_memory_prop:file r_file_perms;
allow flags_health_check hypervisor_pvmfw_prop:file r_file_perms;
allow flags_health_check hypervisor_virtualizationmanager_prop:file r_file_perms;
allow flags_health_check init_perf_lsm_hooks_prop:file r_file_perms;
allow flags_health_check init_storage_prop:file r_file_perms;
allow flags_health_check init_svc_debug_prop:file r_file_perms;
allow flags_health_check keystore_crash_prop:file r_file_perms;
allow flags_health_check keystore_listen_prop:file r_file_perms;
allow flags_health_check last_boot_reason_prop:file r_file_perms;
allow flags_health_check logd_auditrate_prop:file r_file_perms;
allow flags_health_check lower_kptr_restrict_prop:file r_file_perms;
allow flags_health_check misctrl_prop:file r_file_perms;
allow flags_health_check net_464xlat_fromvendor_prop:file r_file_perms;
allow flags_health_check net_connectivity_prop:file r_file_perms;
allow flags_health_check netd_stable_secret_prop:file r_file_perms;
allow flags_health_check odsign_prop:file r_file_perms;
allow flags_health_check perf_drop_caches_prop:file r_file_perms;
allow flags_health_check persist_sysui_builder_extras_prop:file r_file_perms;
allow flags_health_check persist_sysui_ranking_update_prop:file r_file_perms;
allow flags_health_check profcollectd_node_id_prop:file r_file_perms;
allow flags_health_check radio_cdma_ecm_prop:file r_file_perms;
allow flags_health_check remote_prov_prop:file r_file_perms;
allow flags_health_check sensors_config_prop:file r_file_perms;
allow flags_health_check snapuserd_prop:file r_file_perms;
allow flags_health_check suspend_debug_prop:file r_file_perms;
allow flags_health_check system_adbd_prop:file r_file_perms;
allow flags_health_check system_audio_config_prop:file r_file_perms;
allow flags_health_check timezone_metadata_prop:file r_file_perms;
allow flags_health_check traced_perf_enabled_prop:file r_file_perms;
allow flags_health_check tuner_server_ctl_prop:file r_file_perms;
allow flags_health_check uprobestats_start_with_config_prop:file r_file_perms;
allow flags_health_check verity_status_prop:file r_file_perms;
allow flags_health_check virtualizationservice_prop:file r_file_perms;
